{include file="public/head,public/nav"}
<body style="background-color: #F7F7F7">
    <div class="container">
    <div class="row">
        <!--左侧-->
        <div class="col-md-8">
            <div>
                <div class="about-content">
                    <h1 class="">简介</h1>
                    <hr/>
                    <h1 class="">个人信息</h1>
                    <p class="about-content-p">姓名： 涂峻嘉</p>
                    <p class="about-content-p">家乡： 湖南-张家界</p>
                    <p class="about-content-p">大学：湖南工学院-软件工程</p>
                    <p class="about-content-p">联系方式：15874439175&nbsp;&nbsp;(273288259@qq.com)</p>
                    <p class="about-content-p">技术栈：web前端、web后端、LNMP网站开发</p>
                    <p class="about-content-p">工作经历：</p>
                    <p class="about-content-p"></p>
                    <h1>交流</h1>
                    <p class="about-content-p">与本博客内容相关的问题可以在对应文章或本页下面留言，我将尽可能做到有问必答。</p>
                    <h1>赞助本站</h1>
                    <p class="about-content-p">坚持原创写作并不是一件容易的事，如果你认为我的文章对你有帮助，欢迎赞助本站（打赏我）：</p>
                    <div style="margin: 0px auto;" >
                        <a>
                            <img src="__STATIC__/img/17.jpg" width="200px" height="200px" alt="微信收款码"/>
                        </a>
                        <img src="__STATIC__/img/18.jpg" width="200px" height="200px" alt="支付宝收款码"/>
                        <p> <span >微信扫码打赏</span> <span>支付宝扫码打赏</span></p>
                    </div>
                </div>
            </div>
        </div>
        <!--右侧-->
        <div class="col-md-4 ">
                <!--目录的div-->
                <div class="body-background body-background-nav">
                    <div class="body-background-nav-position" >
                        <p style="font-size: 2em">目录</p>
                        <hr>
                        <div class="document-right-a">
                            <p><a href="#1" style="text-decoration: none">1 简介</a></p>
                            <p><a href="#2" style="text-decoration: none">&nbsp;&nbsp;&nbsp;1.1个人信息</a></p>
                            <p><a href="#3" style="text-decoration: none">&nbsp;&nbsp;&nbsp;1.2交流</a></p>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>
</body>
<script>
    $(function() {
        var elm = $('.body-background-nav');
        var startPos = $(elm).offset().top;
        $.event.add(window, "scroll", function() {
            var p = $(window).scrollTop();
            $(elm).css('position',((p) > startPos) ? 'fixed' : 'static');
            $(elm).css('top',((p) > startPos) ? '0px' : '');
            $(elm).css('width',((p) > startPos) ? '360px' : '');
            $(elm).css('float',((p) > startPos) ? 'clear' : '');
        });
    });
</script>
{include file="public/footer"}
