{include file="public/head,public/nav"}
<body style="background-color: #F7F7F7">
<div class="container">
    <div class="row">
        <!--左侧-->
        <div class="col-md-8">
            <!--下面是文章内容的展示-->
            <h1>节点一</h1>
            <p>节点一的内容节点一的内容节点一的内容节点一的内容</p>
            <p>节点一的内容节点一的内容节点一的内容节点一的内容</p>
            <p>节点一的内容节点一的内容节点一的内容节点一的内容</p>
            <p>节点一的内容节点一的内容节点一的内容节点一的内容</p>
            <p>节点一的内容节点一的内容节点一的内容节点一的内容</p>
            <p>节点一的内容节点一的内容节点一的内容节点一的内容</p>
            <p>节点一的内容节点一的内容节点一的内容节点一的内容</p>
            <h1>节点二</h1>
            <p>节点一的内容节点一的内容节点一的内容节点一的内容</p>
            <p>节点一的内容节点一的内容节点一的内容节点一的内容</p>
            <p>节点一的内容节点一的内容节点一的内容节点一的内容</p>
            <p>节点一的内容节点一的内容节点一的内容节点一的内容</p>
            <p>节点一的内容节点一的内容节点一的内容节点一的内容</p>
            <p>节点一的内容节点一的内容节点一的内容节点一的内容</p>
            <p>节点一的内容节点一的内容节点一的内容节点一的内容</p>
            <h1>节点三</h1>
            <p>节点一的内容节点一的内容节点一的内容节点一的内容</p>
            <p>节点一的内容节点一的内容节点一的内容节点一的内容</p>
            <p>节点一的内容节点一的内容节点一的内容节点一的内容</p>
            <p>节点一的内容节点一的内容节点一的内容节点一的内容</p>
            <p>节点一的内容节点一的内容节点一的内容节点一的内容</p>
            <p>节点一的内容节点一的内容节点一的内容节点一的内容</p>
            <p>节点一的内容节点一的内容节点一的内容节点一的内容</p>
            <h1>节点四</h1>
            <p>节点一的内容节点一的内容节点一的内容节点一的内容</p>
            <p>节点一的内容节点一的内容节点一的内容节点一的内容</p>
            <p>节点一的内容节点一的内容节点一的内容节点一的内容</p>
            <p>节点一的内容节点一的内容节点一的内容节点一的内容</p>
            <p>节点一的内容节点一的内容节点一的内容节点一的内容</p>
            <p>节点一的内容节点一的内容节点一的内容节点一的内容</p>
            <p>节点一的内容节点一的内容节点一的内容节点一的内容</p>
            <h1>总结</h1>
            <p>节点一的内容节点一的内容节点一的内容节点一的内容</p>
            <p>节点一的内容节点一的内容节点一的内容节点一的内容</p>
            <p>节点一的内容节点一的内容节点一的内容节点一的内容</p>
            <p>节点一的内容节点一的内容节点一的内容节点一的内容</p>
            <p>节点一的内容节点一的内容节点一的内容节点一的内容</p>
            <p>节点一的内容节点一的内容节点一的内容节点一的内容</p>
            <p>节点一的内容节点一的内容节点一的内容节点一的内容</p>
        </div>
        <!--右侧-->
        <div class="col-md-4">
            <!--关于我的div-->
            <div class="body-background">
                <div style="position: fixed; bottom: 185px">
                    <p style="font-size: 2em">目录</p>
                    <hr>
                    <div class="document-right-a">
                        <p><a href="#1" style="text-decoration: none">节点一</a></p>
                        <p><a href="#2" style="text-decoration: none">节点二</a></p>
                        <p><a href="#3" style="text-decoration: none">节点三</a></p>
                        <p><a href="#4" style="text-decoration: none">节点四</a></p>
                        <p><a href="#5" style="text-decoration: none">总结</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
{include file="public/footer"}
