{include file="public/head,public/nav"}
<body style="background-color: #F7F7F7">
<div class="container">
    <div class="row">
        <!--左侧-->
        <div class="col-md-8">
            <!--下面是文章内容的展示-->
            <h1 id="1">进程状态</h1>
            <p>节点一的内容节点一的内容节点一的内容节点一的内容</p>
            <p>节点一的内容节点一的内容节点一的内容节点一的内容</p>
            <p>节点一的内容节点一的内容节点一的内容节点一的内容</p>
            <p>节点一的内容节点一的内容节点一的内容节点一的内容</p>
            <p>节点一的内容节点一的内容节点一的内容节点一的内容</p>
            <p>节点一的内容节点一的内容节点一的内容节点一的内容</p>
            <p>节点一的内容节点一的内容节点一的内容节点一的内容</p>
            <h1>父进程与子进程</h1>
            <p>节点一的内容节点一的内容节点一的内容节点一的内容</p>
            <p>节点一的内容节点一的内容节点一的内容节点一的内容</p>
            <p>节点一的内容节点一的内容节点一的内容节点一的内容</p>
            <p>节点一的内容节点一的内容节点一的内容节点一的内容</p>
            <p>节点一的内容节点一的内容节点一的内容节点一的内容</p>
            <p>节点一的内容节点一的内容节点一的内容节点一的内容</p>
            <p>节点一的内容节点一的内容节点一的内容节点一的内容</p>
            <h1>前台进程与后台进程</h1>
            <p>节点一的内容节点一的内容节点一的内容节点一的内容</p>
            <p>节点一的内容节点一的内容节点一的内容节点一的内容</p>
            <p>节点一的内容节点一的内容节点一的内容节点一的内容</p>
            <p>节点一的内容节点一的内容节点一的内容节点一的内容</p>
            <p>节点一的内容节点一的内容节点一的内容节点一的内容</p>
            <p>节点一的内容节点一的内容节点一的内容节点一的内容</p>
            <p>节点一的内容节点一的内容节点一的内容节点一的内容</p>
            <h1>进程常用命令</h1>
            <p>节点一的内容节点一的内容节点一的内容节点一的内容</p>
            <p>节点一的内容节点一的内容节点一的内容节点一的内容</p>
            <p>节点一的内容节点一的内容节点一的内容节点一的内容</p>
            <p>节点一的内容节点一的内容节点一的内容节点一的内容</p>
            <p>节点一的内容节点一的内容节点一的内容节点一的内容</p>
            <p>节点一的内容节点一的内容节点一的内容节点一的内容</p>
            <p>节点一的内容节点一的内容节点一的内容节点一的内容</p>
            <h1>总结</h1>
            <p>节点一的内容节点一的内容节点一的内容节点一的内容</p>
            <p>节点一的内容节点一的内容节点一的内容节点一的内容</p>
            <p>节点一的内容节点一的内容节点一的内容节点一的内容</p>
            <p>节点一的内容节点一的内容节点一的内容节点一的内容</p>
            <p>节点一的内容节点一的内容节点一的内容节点一的内容</p>
            <p>节点一的内容节点一的内容节点一的内容节点一的内容</p>
            <p>节点一的内容节点一的内容节点一的内容节点一的内容</p>
        </div>
    <!--右侧-->
        <div class="col-md-4 ">
            <div>
                <!--目录的div-->
                <div class="body-background body-background-nav">
                    <div class="body-background-nav-position" >
                        <p style="font-size: 2em">目录</p>
                        <hr>
                        <div class="document-right-a">
                            <p><a href="#1" style="text-decoration: none">1 进程状态</a></p>
                            <p><a href="#2" style="text-decoration: none">2 父进程与子进程</a></p>
                            <p><a href="#3" style="text-decoration: none">3 前台进程与后台进程</a></p>
                            <p><a href="#4" style="text-decoration: none">4 进程常用命令</a></p>
                            <p><a href="#5" style="text-decoration: none">5 总结</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script>
    $(function() {
        var elm = $('.body-background-nav');
        var startPos = $(elm).offset().top;
        $.event.add(window, "scroll", function() {
            var p = $(window).scrollTop();
            $(elm).css('position',((p) > startPos) ? 'fixed' : 'static');
            $(elm).css('top',((p) > startPos) ? '0px' : '');
            $(elm).css('width',((p) > startPos) ? '360px' : '');
            $(elm).css('float',((p) > startPos) ? 'clear' : '');
        });
    });
</script>
{include file="public/footer"}
