{include file="public/head,public/nav"}
<body style="background-color: #F7F7F7">
<div class="container">
    <div class="row">
        <!--左侧-->
        <div class="col-md-8">
            <div class="document-body-left">
                <!--下面是文章内容的展示-->
                <h1 id="1">伪类选择器</h1>
                <p class="document-body-left-p">Linux是一个多用户，多任务的系统，可以同时运行多个用户的多个程序，就必然会产生很多的进程，而每个进程会有不同的状态。(总结起来就是以下五种状态)</p>
                <p class="document-body-left-p" style="color: red">Linux进程状态：R (TASK_RUNNING)，可执行状态。</p>
                <hr/>
                <h1 id="2">边框属性重点</h1>
                <p class="document-body-left-p"><span style="color: red">前台进程</span>  :  是当前正在使用的程序。</p>
                <p class="document-body-left-p"><span style="color: red">后台进程</span>  :  是在当前没有使用的但是也在运行的进程，包括那些系统隐藏或者没有图形化界面的程序。</p>
                <p class="document-body-left-p">Linux中将前台进程挂到后台的意思就是，退出程序但是让这个程序依然进行运行，而不是退出当前程序只能关闭。</p>
                <p class="document-body-left-p"><span style="color: red">特点</span>  :  </p>
                <P class="document-body-left-p">1.    前台进程可以自己控制，后台进程由系统进行维护和管理。</P>
                <P class="document-body-left-p">2.    前台进程和后台进程可以互相转换，</P>
                <P class="document-body-left-p">3.    由于是后台进程，所以系统会将主要精力放在前台也就是当前进程中，后台进程自然会比较慢。</P>
                <hr/>
                <h1 id="3">背景属性</h1>
                <p class="document-body-left-p" style="color: red">查进程：</p>
                <p class="document-body-left-p">ps命令查找与进程相关的PID号：</p>
                <p class="document-body-left-p"> ps -a 显示现行终端机下的所有程序，包括其他用户的程序。</p>
                <p class="document-body-left-p">    ps -A 显示所有程序。</p>
                <p class="document-body-left-p">ps c 列出程序时，显示每个程序真正的指令名称，而不包含路径，参数或常驻服务的标示。</p>
                <p class="document-body-left-p">ps -e 此参数的效果和指定"A"参数相同。</p>
                <p class="document-body-left-p">    ps -e 列出程序时，显示每个程序所使用的环境变量。</p>
                <p class="document-body-left-p">    ps -f 用ASCII字符显示树状结构，表达程序间的相互关系。</p>
                <p class="document-body-left-p">    ps -H 显示树状结构，表示程序间的相互关系。</p>
                <p class="document-body-left-p">    ps -N 显示所有的程序，除了执行ps指令终端机下的程序之外。</p>
                <p class="document-body-left-p">    ps -s 采用程序信号的格式显示程序状况。</p>
                <p class="document-body-left-p">    ps -S 列出程序时，包括已中断的子程序资料。</p>
                <p class="document-body-left-p">    ps -t<终端机编号> 指定终端机编号，并列出属于该终端机的程序的状况。</p>
                <p class="document-body-left-p" style="color: red">终止进程：</p>
                <p class="document-body-left-p">命令：kill </p>
                <p class="document-body-left-p">    格式：kill [option] pid</p>
                <p class="document-body-left-p"> 功能：向指定的进程送信号或终止进程。kill指令的用途是送一个signal给某一个process，因为大部份送的都是用来杀掉 process 的 SIGKILL 或 SIGHUP ，因此称为 kil</p>
                <p class="document-body-left-p">    选项：-9  强行终止进程</p>
                <p class="document-body-left-p">    注释：pid标示进程号，可由ps命令得到。</p>

                <hr/>
                <h1 id="4">字体属性</h1>
                <p class="document-body-left-p"></p>
                <hr/>
                <h1 id="5">div与css优势</h1>
                <p class="document-body-left-p"></p>

            </div>
        </div>
        <!--右侧-->
        <div class="col-md-4 ">
            <div>
                <!--目录的div-->
                <div class="body-background body-background-nav">
                    <div class="body-background-nav-position" >
                        <p style="font-size: 2em">目录</p>
                        <hr>
                        <div class="document-right-a">
                            <p><a href="#1" style="text-decoration: none">1 伪类选择器</a></p>
                            <p><a href="#2" style="text-decoration: none">2 边框属性重点</a></p>
                            <p><a href="#3" style="text-decoration: none">3 背景属性</a></p>
                            <p><a href="#4" style="text-decoration: none">4 字体属性</a></p>
                            <p><a href="#5" style="text-decoration: none">5 div与css优势</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script>
    $(function() {
        var elm = $('.body-background-nav');
        var startPos = $(elm).offset().top;
        $.event.add(window, "scroll", function() {
            var p = $(window).scrollTop();
            $(elm).css('position',((p) > startPos) ? 'fixed' : 'static');
            $(elm).css('top',((p) > startPos) ? '0px' : '');
            $(elm).css('width',((p) > startPos) ? '360px' : '');
            $(elm).css('float',((p) > startPos) ? 'clear' : '');
        });
    });
</script>
{include file="public/footer"}
