{include file="public/head,public/nav"}
<body style="background-color: #F7F7F7">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div>

                </div>
            </div>
            <div class="col-md-4">
                <!--搜索div-->
                <div class="control-group">
                    <form class="form-search">
                        <input type="text" class="input-medium search-query">
                        <button type="submit" class="btn btn-info">搜索</button>
                    </form>
                </div>
                <!--关于我的div-->
                <div class="body-background">
                    <h4>关于我</h4>
                    <hr>
                     <img src="__STATIC__/img/2.jpg" width="100%" height=auto>
                    <h4>自己的座右铭</h4>
                </div>
            </div>
        </div>
    </div>
</body>
{include file="public/right"}
{include file="public/footer"}
