{include file="public/head,public/nav"}
<body style="background-color: #F7F7F7">
    <div class="container">
        <div class="row" >
            <!--左侧-->
            <div class="col-md-8" style="position: relative;left:0px;z-index: 2">
                <!--下面是文章内容的展示-->
                <div class="body-content">
                    <section>
                        <a style="text-decoration: none" href="{:url('index/document')}"><h1>linux进程管理</h1></a>
                        <div class="comment-content">
                            <p>在linux的知识系统中，进程管理是很重要的一部分。总体来看进程分为前台进程和后台进程，  在shell提示处理打入命令后，创建一个子进程，运行命令，Shell等待命令退出，然后返回到对用户给出提示符。这条命令与Shell异步运行，即在前台运行，用户在它完成之前不能执行别一个命令。在Shell提示处打入命令，若后随一个&,Shell创建子进程运行此命令，但不等待命令退出，而直接返回到对用户给出提示。这条命令与Shell同步运行，即在后台运行。"后台进程必须是非交互式的" 。</p>
                        </div>
                        <div class="comment-info">
                            <p>2018/08/25&nbsp;&nbsp;|&nbsp;&nbsp;<a href="{:url('index/linux')}" href="" style="text-decoration: none">linux</a></p>
                        </div>
                    </section>
                </div>
                <div class="body-content">
                    <section>
                        <a style="text-decoration: none" href="{:url('index/index_document_html')}"><h1>html学习重难点总结</h1></a>
                        <div class="comment-content">
                            <p>html学习是前端开发的必会技能，由此html的学习也显得尤为重要。我在学习的过程中将重点难点总结起来了。也网页的形式展现出来，做到边学边记，边学边练。</p>
                        </div>
                        <div class="comment-info">
                            <p>2018/08/20&nbsp;&nbsp;|&nbsp;&nbsp;<a href="{:url('index/html')}" href="" style="text-decoration: none">html</a></p>
                        </div>
                    </section>
                </div>
                <div class="body-content">
                <section>
                    <a style="text-decoration: none" href="{:url('index/index_document_php')}"><h1>PHP常用函数总结</h1></a>
                    <div class="comment-content">
                        <p>php是一门很好的后台语言。学习了这么久PHP，基础知识总感觉不牢靠，尤其是数组，字符串函数的应用，全部手敲过次手，做出总结都是基础，在回顾一下吧</p>
                    </div>
                    <div class="comment-info">
                        <p>2018/08/01&nbsp;&nbsp;|&nbsp;&nbsp;<a href="{:url('index/php')}" href="" style="text-decoration: none">PHP</a></p>
                    </div>
                </section>
            </div>
            </div>
            <!--右侧-->
            <div class="col-md-4" style="position: relative; left:0px; z-index: 1">
                <!--搜索div-->
                <div class="control-group">
                    <form class="form-search">
                        <input type="text" class="input-medium search-query">
                        <button type="submit" class="btn btn-info">搜索</button>
                    </form>
                </div>
                <!--关于我的div-->
                <div class="body-background">
                    <p style="font-size: 2em">关于我</p>
                    <hr>
                     <img src="__STATIC__/img/2.jpg" width="100%" height=auto>
                    <h4>如果你想拥有你从未拥有过的东西,<br/>那么你必须去做你从未做过的事.</h4>
                </div>
                <!--文章书签分类div-->
                <div class="achiv-goup">
                    <ul class="nav nav-list">
                        <li class="nav-header" style="font-size: 2em">分类</li>
                        <hr>
                        <li class="active"><a href="#">首页</a></li>
                        <li><a href="{:url('index/linux',array('category_id'=>'linux'))}">Linux</a></li>
                        <li><a href="{:url('index/html',array('category_id'=>'html'))}">HTML</a></li>
                        <li><a href="{:url('index/javascript',array('category_id'=>'javascript'))}">JavaScript</a></li>
                        <li><a href="{:url('index/php',array('category_id'=>'php'))}">PHP</a></li>
                        <li><a href="{:url('index/jquery',array('category_id'=>'jquery'))}">jquery</a></li>
                        <li><a href="{:url('index/mysql',array('category_id'=>'mysql'))}">MySQL</a></li>
                        <li><a href="{:url('index/redis',array('category_id'=>'redis'))}">redis</a></li>
                        <li><a href="{:url('index/smarty',array('category_id'=>'smarty'))}">smarty</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>
{include file="public/footer"}
