{include file="public/head,public/nav"}
<body style="background-color: #F7F7F7">
    <div class="container">
        <div class="row">
            <!--左侧-->
            <div class="col-md-8">
                <!--下面是文章内容的展示-->
                <div class="body-content">
                    <section>
                        <a style="text-decoration: none" href="#"><h1>redis的使用及其项目的代码</h1></a>
                        <div class="comment-content">
                            <p>在前端开发过程中，我们将大量的时间都花在了页面布局开发上，在页面布局开发中我们又把很多的精力放在了如何处理网页中的排版问题，而其中最让我迷惑的是如何正确的使用px,em,rem这几个网页中常见的度量单位，相信这几个单位在开发过程中也困扰过你，到现在也还没有真正弄明白.</p>
                        </div>
                        <div class="comment-info">
                            2018.12.28|redis
                        </div>
                    </section>
                </div><div class="body-content">
                    <section>
                        <a style="text-decoration: none" href="#"><h1>redis的使用及其项目的代码</h1></a>
                        <div class="comment-content">
                            <p>在前端开发过程中，我们将大量的时间都花在了页面布局开发上，在页面布局开发中我们又把很多的精力放在了如何处理网页中的排版问题，而其中最让我迷惑的是如何正确的使用px,em,rem这几个网页中常见的度量单位，相信这几个单位在开发过程中也困扰过你，到现在也还没有真正弄明白.</p>
                        </div>
                        <div class="comment-info">
                            2018.12.28|redis
                        </div>
                    </section>
                </div><div class="body-content">
                    <section>
                        <a style="text-decoration: none" href="#"><h1>redis的使用及其项目的代码</h1></a>
                        <div class="comment-content">
                            <p>在前端开发过程中，我们将大量的时间都花在了页面布局开发上，在页面布局开发中我们又把很多的精力放在了如何处理网页中的排版问题，而其中最让我迷惑的是如何正确的使用px,em,rem这几个网页中常见的度量单位，相信这几个单位在开发过程中也困扰过你，到现在也还没有真正弄明白.</p>
                        </div>
                        <div class="comment-info">
                            2018.12.28|redis
                        </div>
                    </section>
                </div><div class="body-content">
                    <section>
                        <a style="text-decoration: none" href="#"><h1>redis的使用及其项目的代码</h1></a>
                        <div class="comment-content">
                            <p>在前端开发过程中，我们将大量的时间都花在了页面布局开发上，在页面布局开发中我们又把很多的精力放在了如何处理网页中的排版问题，而其中最让我迷惑的是如何正确的使用px,em,rem这几个网页中常见的度量单位，相信这几个单位在开发过程中也困扰过你，到现在也还没有真正弄明白.</p>
                        </div>
                        <div class="comment-info">
                            2018.12.28|redis
                        </div>
                    </section>
                </div><div class="body-content">
                    <section>
                        <a style="text-decoration: none" href="#"><h1>redis的使用及其项目的代码</h1></a>
                        <div class="comment-content">
                            <p>在前端开发过程中，我们将大量的时间都花在了页面布局开发上，在页面布局开发中我们又把很多的精力放在了如何处理网页中的排版问题，而其中最让我迷惑的是如何正确的使用px,em,rem这几个网页中常见的度量单位，相信这几个单位在开发过程中也困扰过你，到现在也还没有真正弄明白.</p>
                        </div>
                        <div class="comment-info">
                            2018.12.28|redis
                        </div>
                    </section>
                </div><div class="body-content">
                    <section>
                        <a style="text-decoration: none" href="#"><h1>redis的使用及其项目的代码</h1></a>
                        <div class="comment-content">
                            <p>在前端开发过程中，我们将大量的时间都花在了页面布局开发上，在页面布局开发中我们又把很多的精力放在了如何处理网页中的排版问题，而其中最让我迷惑的是如何正确的使用px,em,rem这几个网页中常见的度量单位，相信这几个单位在开发过程中也困扰过你，到现在也还没有真正弄明白.</p>
                        </div>
                        <div class="comment-info">
                            2018.12.28|redis
                        </div>
                    </section>
                </div>

            </div>
            <!--右侧-->
            <div class="col-md-4">
                <!--搜索div-->
                <div class="control-group">
                    <form class="form-search">
                        <input type="text" class="input-medium search-query">
                        <button type="submit" class="btn btn-info">搜索</button>
                    </form>
                </div>
                <!--关于我的div-->
                <div class="body-background">
                    <p style="font-size: 2em">关于我</p>
                    <hr>
                     <img src="__STATIC__/img/2.jpg" width="100%" height=auto>
                    <h4>如果你想拥有你从未拥有过的东西,<br/>那么你必须去做你从未做过的事.</h4>
                </div>
                <!--文章书签分类div-->
                <div class="achiv-goup">
                    <ul class="nav nav-list">
                        <li class="nav-header" style="font-size: 2em">分类</li>
                        <hr>
                        <li class="active"><a href="#">首页</a></li>
                        <li><a href="{:url('index/linux',array('category_id'=>'linux'))}">Linux</a></li>
                        <li><a href="{:url('index/html',array('category_id'=>'html'))}">HTML</a></li>
                        <li><a href="{:url('index/javascript',array('category_id'=>'javascript'))}">JavaScript</a></li>
                        <li><a href="{:url('index/php',array('category_id'=>'php'))}">PHP</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>
{include file="public/right"}
{include file="public/footer"}
