{include file="public/head,public/nav"}
<body style="background-color: #F7F7F7">
<div class="container">
    <div class="row">
        <!--左侧-->
        <div class="col-md-8">
            <div class="document-body-left">
                <!--下面是文章内容的展示-->
                <h1>学习html知识重点难点总结:</h1>
                <hr/>
                <h1 id="1">伪类选择器</h1>
                <p class="document-body-left-p">在支持 CSS 的浏览器中，链接的不同状态都可以以不同的方式显示</p>
                <p class="document-body-left-p">实例：</p>
                <pre>
                    <code class="document-body-left-p">
                        a:link {color:#FF0000;}        /* 未访问的链接 */
                        a:visited {color:#00FF00;}     /* 已访问的链接 */
                        a:hover {color:#FF00FF;}       /* 鼠标划过链接 */
                        a:active {color:#0000FF;}      /* 已选中的链接 */
                    </code>
                </pre>
                <p class="document-body-left-p" style="color: red">注意：</p>
                <p class="document-body-left-p"> 1、在CSS定义中，a:hover 必须被置于 a:link 和 a:visited 之后，才有效。</p>
                <p class="document-body-left-p"> 2、在 CSS 定义中，a:active 必须被置于 a:hover 之后，才是有效的。</p>
                <p class="document-body-left-p"> 3、伪类的名称不区分大小写。</p>


                <hr/>
                <h1 id="2">边框属性重点</h1>
                <p class="document-body-left-p">1、边框的一般属性</p>
                <p class="document-body-left-p">实例:</p>
                <pre>
                    <code class="document-body-left-p">
                        border：10px  5px  15px  0;     /*设置边框上右下左的像素*/

                        border-top: 100px solid red;
                        border-right: 100px solid green;
                        border-top: 100px solid red;
                        border-right: 100px solid green;  /*以上四种是分辨设置的*/

                        border-color：red;                 /*这是设置边框四周颜色为红色*/

                        border-top: 100px solid red;      /*连写模式 像素  实线  颜色*/
                    </code>

                </pre>
                <p class="document-body-left-p">2、边框的圆角属性</p>
                <p class="document-body-left-p">实例:</p>
                <pre>
                    <code class="document-body-left-p">
                        border：10px  5px  15px  0         /*分别设置边框的像素*/
                    </code>
                </pre>
                <p class="document-body-left-p"><span style="color: red">注意：</span>IE浏览器不支持圆角属性</p>
                <hr/>
                <h1 id="3">背景属性</h1>
                <p class="document-body-left-p" style="color: red">查进程：</p>
                <p class="document-body-left-p">1、固定背景</p>
                <p class="document-body-left-p">可以设置背景的固定，当我们设置这个属性之后，我们的背景不会随着滚动条的滚动移动。（代码片段如下）</p>
                <p class="document-body-left-p">实例：</p>
                <pre>
                    <code class="document-body-left-p">
                        background-image :url(css/images/img.jpg) ;
                        background-position: right bottom ;      /*背景的绝对定位*/
                        background-attachment:fixed;             /*此属性设置改背景固定*/
                    </code>
                </pre>
                <p class="document-body-left-p">2、背景是否平铺</p>
                <p class="document-body-left-p">可以设置背景的平铺规则，当我们设置这个属性之后，我们的背景会沿着不同的方向循环平铺展示（代码片段如下）</p>
                <p class="document-body-left-p">实例：</p>
                <pre>
                    <code class="document-body-left-p">
                        background-image :url(css/images/img.jpg) ;
                        background-repeat :no-repeat ;            /*背景不平铺单张显示*/
                        background-repeat :repeat-x ;            /*背景沿x轴平铺*/
                        background-repeat :repeat-y ;            /*背景沿y轴平铺*/
                    </code>
                </pre>
                <p class="document-body-left-p">3、背景各种属性的连写模式</p>
                <p class="document-body-left-p">实例：</p>
                <pre>
                    <code class="document-body-left-p">
                        background: color url() repeat attachment position;
                                                /*颜色  地址 平铺效果 滚动 位置*/
                    </code>
                </pre>
                <hr/>
                <h1 id="4">字体属性</h1>
                <p class="document-body-left-p">1、字体的包裹属性</p>
                <p class="document-body-left-p">当我们设置这个属性之后，字体在元素中自动换行不会超出所在元素</p>
                <p class="document-body-left-p">实例:</p>
                <pre>
                    <code class="document-body-left-p">
                        word-wrap: normal;
                                            /*只在允许的断字点换行（浏览器保持默认处理）*/
                        word-wrap: break-word
                                                /*在长单词或 URL 地址内部进行换行。*/
                    </code>
                </pre>
                <hr/>
                <h1 id="5">div与css优势</h1>
                <p class="document-body-left-p"></p>

            </div>
        </div>
        <!--右侧-->
        <div class="col-md-4 ">
            <div>
                <!--目录的div-->
                <div class="body-background body-background-nav">
                    <div class="body-background-nav-position" >
                        <p style="font-size: 2em">目录</p>
                        <hr>
                        <div class="document-right-a">
                            <p><a id="btn1" href="#1" style="text-decoration: none">1 伪类选择器</a></p>
                            <p><a id="btn2" href="#2" style="text-decoration: none">2 边框属性重点</a></p>
                            <p><a id="btn3" href="#3" style="text-decoration: none">3 背景属性</a></p>
                            <p><a id="btn4" href="#4" style="text-decoration: none">4 字体属性</a></p>
                            <p><a id="btn5" href="#5" style="text-decoration: none">5 div与css优势</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <button id="uptop" style="width: 30px;position:fixed;right: 100px;bottom: 40px"><span style="" class="glyphicon glyphicon-upload" aria-hidden="true"></span></button>

</div>
</body>
<script>
    $(function() {
        var elm = $('.body-background-nav');
        var startPos = $(elm).offset().top;
        $.event.add(window, "scroll", function() {
            var p = $(window).scrollTop();
            $(elm).css('position',((p) > startPos) ? 'fixed' : 'static');
            $(elm).css('top',((p) > startPos) ? '0px' : '');
            $(elm).css('width',((p) > startPos) ? '360px' : '');
            $(elm).css('float',((p) > startPos) ? 'clear' : '');
        });
    });


    //    锚点时间的实现
    //        $('.btn1').click(function () {
    //            $("html,body").animate({
    //                scrollTop: $("#1").offset().top
    //            }, 2000);
    //        });

    $("#btn1").click(function(){
        $('html,body').animate({
            scrollTop: $("#1").offset().top
        }, 800);
    });
    $("#btn2").click(function(){
        $('html,body').animate({
            scrollTop: $("#2").offset().top
        }, 800);
    });
    $("#btn3").click(function(){
        $('html,body').animate({
            scrollTop: $("#3").offset().top
        }, 800);
    });
    $("#btn4").click(function(){
        $('html,body').animate({
            scrollTop: $("#4").offset().top
        }, 800);
    });

    $("#btn5").click(function(){
        $('html,body').animate({
            scrollTop: $("#5").offset().top
        }, 800);
    });

    //    回到顶部
    $("#uptop").click(function(){
        $('html,body').animate({
            scrollTop: "0px"
        }, 600);
    });
</script>
{include file="public/footer"}
