<div id="nav-background" class="">
    <div>
        <ul class="nav nav-pills">
            <li class="pull-left"><a class="nav-text" href="#">涂峻嘉</a></li>
            <li class="pull-right"><a class="nav-text" href="#">归档</a></li>
            <li class="pull-right"><a class="nav-text" href="#">标签</a></li>
            <li class="pull-right"><a class="nav-text" href="{:url('index/about')}">关于</a></li>
            <li class="pull-right"><a class="nav-text" href="{:url('index/index')}">首页</a></li>
        </ul>
    </div>
    <div class="nav-h">
        <p class="nav-text-1">{$nav_name}</p>
        <p class="nav-text-2">{$nav_flag}</p>
    </div>
</div>
