<div id="nav-background" class="">
    <div>
        <ul class="nav nav-pills">
            <li class="pull-left"><a class="nav-text" href="#">涂峻嘉</a></li>
            <li class="pull-right"><a class="nav-text" href="#">归档</a></li>
            <li class="pull-right"><a class="nav-text" href="#">标签</a></li>
            <li class="pull-right"><a class="nav-text" href="#">关于</a></li>
            <li class="pull-right"><a class="nav-text" href="{:url('index/index')}">首页</a></li>
        </ul>
    </div>
    <div class="nav-h">
        <h2>tujunjia</h2>
        <h3>此网站的搭建过程，个人学习总结。</h3>
    </div>
</div>
